@model Bageriet.Models.ViewModels.ProductsViewModel
@{
    ViewData["Title"] = "Products";
}


@{
    foreach (var item in Model.Products)
    {
        <p> @item.Name</p>

    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the product page</a>.</p>
</div>
