@model Bageriet.Models.ViewModels.ProductsViewModel
@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Products for sale</h1>
    <div class="text-left">
        <ul>
            @{
                foreach (var product in Model.Products)
                {
                    <li>@product.Name</li>
                }
            }
        </ul>
    </div>
</div>
