@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<br />

<div class="text-left">
    <div>
        <h3>Bageriet AB</h3>
        <hr class="sep-left">
        <p>
            Kanelbullegatan 1 <br />
            155334 , Wienerbröd<br />
            <a class="link-line link-invert" href="mailto:kanelbulle@bageriet.se">kanelbulle@bageriet.se</a> <br />
        </p>
    </div>
</div>