@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bageriet 1.0</h1>
    <p>Please check our product page or contact us for more info</a>.</p>
</div>
